a { 
    color: inherit; 
    text-decoration: none;
} 

body{
    background-color: #101010;
    display: grid;
    grid-template-columns: min-content auto;
    font-family: Poppins;
    color: white;
}
#left{
    grid-column: 1;
    align-self: center;
    align-content: center;
    margin-left: 30px;
    margin-right: 50px;
    grid-template-columns: min-content auto;
}
#content{
    grid-column: 2;
    background-color: #FFFFFF;
    color: #262A41;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% auto;
    
}
#user-details > img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
#user-details{
    font-family: Poppins;
}
#user-name{
    font-size: 30px;
}
#email{
    opacity: 50%;
    font-size: 17px;
}
#tabs{
    font-size: 25px;
    line-height: 50px;
}
ul{
    list-style: none;
    padding-left: 10px;
}

#content > *{
    margin-left: 15%;
}
h1{
    font-size: 40px;
    font-weight: 50%;
}
h2{
    font-size: 16px;
}
#h3{
    font-size: 18px;
    
}
#add-button{
    width: 24px;
    height: 24px;
    background-image: url(./images/plus.png);
    background-size: cover;
    border-radius: 50%;
    border: none;
}
#remove-button{
    width: 24px;
    height: 24px;
    background-image: url(./images/minus.png);
    background-size: cover;
    border-radius: 50%;
    border: none;
}
.options{
    opacity: 0.7;
}
span{
    color: black;
    font-weight: bold;
}
input[type=submit]{
    font-family: Poppins;
    background-color: #FFFFFF;
    border-color: #262A41;
    border-radius: 5px;
}
input[type=radio]{
    margin: 0;
}
#adding-part{
    grid-column: 1;
}
#monitor-part{
    grid-column: 2;
}
.Medicine-status > img{
    height: 48px;
    grid-column-start: 1;
    border-radius: 50%;
}
.Medicine-status{
    display: grid;
    grid-template-columns: 11% auto;
}
.Medicine-status > div{
    height: 48px;
    grid-column-start: 2;
}

hr{
    display: block;
    margin-left: 0;
    width: 60%;
}
#adding-part > hr{
    width: 100%;
}  

#medi-name-A,#medi-name-B,#medi-name-C{
    font-weight: bold;
}
#status-A{
    color: red;
}
#status-B{
    color: green;
}
#status-C{
    color: yellow;
}

#tabs > ul > li {
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

#tabs > ul > li:hover {
    color: gray; /* Color changes to red on hover */
}

@media screen and (max-width: 1255px) {
       #monitor-part{
        grid-column: 1;
        /* background-color: red; */
    }
    #content{
        grid-template-columns: auto;
    }
    #adding-part > hr{
        width: 60%;
    }
}
@media screen and (max-width: 850px) {
    /* #left{
        display: none;
    } */
    #content{
        grid-column: 1;}
    body{
        grid-template-columns: auto;
    }
    #tabs > ul{
        display: flex;
        font-size: 15px;
        gap: 5px;
    }
    
}
    
 

