body{
    background-color: #101010;
    display: grid;
    grid-template-columns: min-content auto;
    font-family: Poppins;
    color: white;
}
#left{
    grid-column: 1;
    align-self: center;
    align-content: center;
    margin-left: 30px;
    margin-right: 50px;
    grid-template-columns: min-content auto;
}
#content{
    grid-column: 2;
    background-color: #FFFFFF;
    color: #262A41;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% auto;
    
}
#user-details > img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
#user-details{
    font-family: Poppins;
}
#user-name{
    font-size: 30px;
}
#email{
    opacity: 50%;
    font-size: 17px;
}
#tabs{
    font-size: 25px;
    line-height: 50px;
}
ul{
    list-style: none;
}

#content > *{
    margin-left: 15%;
}
h1{
    font-size: 40px;
    font-weight: 50%;
}
h2{
    font-size: 16px;
}
#h3{
    font-size: 18px;
    
}
#add-button{
    width: 24px;
    height: 24px;
    background-image: url(./images/images.png);
    background-size: cover;
    border-radius: 50%;
}
.options{
    opacity: 0.7;
}
span{
    color: black;
    font-weight: bold;
}
input[type=submit]{
    font-family: Poppins;
    background-color: #FFFFFF;
    border-color: #262A41;
    border-radius: 5px;
}
input[type=radio]{
    margin: 0;
}
#adding-part{
    grid-column: 1;
}
#monitor-part{
    grid-column: 2;
}
.Medicine-status > img{
    height: 48px;
    grid-column-start: 1;
    border-radius: 50%;
}
.Medicine-status{
    display: grid;
    grid-template-columns: 11% auto;
}
.Medicine-status > div{
    height: 48px;
    grid-column-start: 2;
}
#monitor-part > hr{
    width: 50%;
    display: inline-block;
}
#medi-name-A,#medi-name-B,#medi-name-C{
    font-weight: bold;
}
#status-A{
    color: red;
}
#status-B{
    color: green;
}
#status-C{
    color: yellow;
}
@media screen and (max-width: 1255px) {
       #monitor-part{
        grid-column: 1;
        /* background-color: red; */
    }
    #content{
        grid-template-columns: auto;
        
    }}
 

