*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

.body{
    width: 100%;
}
.main{
    display: grid;
    width: 100%;
}
.ribbon{
    width: 100%;
    display: grid;
    padding-top: 2%;

}

.ribbon h2{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20%;
}

.ribbon ul{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    right: 5%; 
}

.ribbon ul li{
    list-style: none;
    margin-left: 15%;
    
}

.ribbon ul li a{
    text-decoration: none;
    color: black;    
}

.ribbon ul li a:hover{
    color: rgb(113, 42, 151);
}

.ribbon #btn{
    grid-column: 3;
    background: black;
    width: 120px;
    height: 45px;
    position: relative;
    left: 50%;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    
}

.ribbon button a{
    text-decoration: none;
    color: aliceblue;
    transition: .5s;
}

.ribbon button a:hover{
    color: aqua;
}


.content{
    text-align: center;
    line-height: 1;
}

.content h3{
    font-size: small;
    font-weight: 100;
    padding-top: 4%;
    padding-bottom: 1%;
}

.content p{
    font-size:40px ;
}   

.content p2{
    font-size: 40px;
    background: linear-gradient(to right, #f48fb1, #7e57c2, #2196f3, #26c6da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p1{
    font-size: 40px;
}

.content img{
    padding-top: 4%;
    width: 580px;
}


        

@media screen and (max-width: 600px) {

    .main{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        justify-content: center;
        align-items: center;
    }
    .ribbon{
        width: 100%;
        padding-top: 2%;
        position: relative;
        right: 5%;

    }
    
    .ribbon h2{
        grid-column: 2;
        grid-row: 1;
        position: relative;
        right: 18%;
    }
    
    .ribbon ul{
        grid-column: 2;
        grid-row: 2;
        position: relative;
        right: 25%;
    }
    
    .ribbon #btn{
        grid-column: 2;
        grid-row: 3;
        position: relative;
        top: 10%;
        left: 18%;
        
    }
    .content{
        width: 95%;
        position: relative;
        left: 1%;
    }

    .content h3{
        font-size: small;
    }
    
    .content p{
        font-size:40px;
    }   
    
    .content p2{
        font-size: 4opx;
    }
    
    .content p1{
        font-size: 40px;
    }
    
    .content img{
        padding-top: 10%;
        width: 90%;
    }
}






