* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    background-color: #dfe6e7;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.ribbon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ribbon h2 {
    font-size: 30px;
    position: relative;
    left: 1%;
    margin-bottom: 10px;
}

.ribbon ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.ribbon ul li {
    list-style: none;
    margin: 0px 40px;
}

.ribbon ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.ribbon ul li a:hover {
    color:#26c6da;
}

.ribbon #btn {
    background-color: black;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    position: relative;
    right: 5%;
}

.ribbon #btn a {
    text-decoration: none;
    background: none;
    color: white;
    transition: color 0.3s;
}

.ribbon #btn a:hover {
    color: #26c6da;
}

.content {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.content p {
    font-size: 40px;
    font-weight: bolder;
}

.content p1, .content p2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.content p2 {
    background: linear-gradient(to right, #f48fb1, #7e57c2, #2196f3, #26c6da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .ribbon {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ribbon h2 {
        margin-bottom: 10px;
    }

    .ribbon ul {
        justify-content: center;
        margin-bottom: 10px;
    }

    .ribbon #btn {
        position: relative;
        left: 1%;
        margin-top: 10px;
    }

    .content h3 {
        font-size: 20px;
    }

    .content p, .content p1, .content p2 {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .ribbon h2 {
        font-size: 20px;
    }

    .ribbon ul li {
        margin: 0 10px;
    }

    .ribbon #btn {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }

    .content h3 {
        font-size: 16px;
    }

    .content p, .content p1, .content p2 {
        font-size: 24px;
    }
}
